@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic);

<<<<<<< HEAD:assets/css/src/_callfirst/variables.scss
$brand-primary: #27ae60;

$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;
=======
$brand-primary:         #27ae60;
>>>>>>> parent of 3b43ba8... reinstall grunt:assets/css/src/common/variables.scss
