@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic);

$brand-primary: #27ae60;

$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;