.template_slider {


	.btn {
		font-size: 30px;
	    margin: 20px auto;
	}

	.quote {
		@extend h1;
		border: none;
		display: inline-block;
		margin-bottom: 0;
		padding: 0 60px 30px;
		position: relative;
		width: auto;

		.img_quote_open {
			display:block;
			fill: red;
			height: 40px;
			left: 0;
			position: absolute;
			top: 0;
			width: 60px;
		}
	}
}