/**
 * GRID
 */
#mainContainer {
	position: relative;
	width: 100%;
	z-index: 0;
}

#mainContainer > * {
	padding: 50px 0;
	position: relative;
}

.content_margin {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
}

.row-no-padding [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}





/**
 * MAIN MENU BURGER
 */
#nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9;
}

#nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: white;
	position: absolute;
	display: block;
	content: '';
	transition: all 200ms ease-in-out;
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#mainMenu.active #nav-toggle span {
	background-color: transparent;
}

#mainMenu.active #nav-toggle span:before, #mainMenu.active #nav-toggle span:after {
	top: 0;
}

#mainMenu.active #nav-toggle span:before {
	transform: rotate(45deg);
}

#mainMenu.active #nav-toggle span:after {
	transform: rotate(-45deg);
}

/* MAIN MENU SIDE CLOSE */
#mainMenu {
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	max-width: 70px;
	min-height: 70px;
	padding: 20px;
	position: fixed;
	top: 0;
	text-align: left;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	width: 100%;
	z-index: 1;
}

#menu-main-menu {
	margin: 20px 0;
}

#menu-main-menu li {
	display: block;
	list-style: none;
	position: relative;
	padding: 0 12px;
}

#menu-main-menu a {
	color: #fff;
	display: none;
	font: 400 18px Cinzel;
	padding: 7px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

#menu-main-menu .active a {
	background-color: #6d9759;
	color: #fff;
}

/* MAIN MENU SIDE OPEN */
#mainMenu.active {
	height: 100%;
	max-width: 300px;
	padding: 20px;
}

#mainMenu.active #menu-main-menu li:before {
	background-color: #fff;
	content: " ";
	display: inline-block;
	height: 15px;
	position: absolute;
	left: 0;
	top: 18px;
	transform: translateY(-50%);
	width: 15px;
}

#mainMenu.active #menu-main-menu li:hover:before {
	display: none;
}

#mainMenu.active #menu-main-menu a {
	display: block;
}

#menu-main-menu li:hover a {
	background-color: #fff;
	color: #6d9759;
}

.menu-main-menu-container {
	overflow: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 40px;
}





/**
 * SLIDER
 */
.bx-wrapper {
	clear: both;
}

.bx-wrapper .bx-loading {
	background: url(../img/bx_loader.gif) center center no-repeat #fff;
}

.bx-wrapper .bx-viewport {
	background: none;
	box-shadow: inherit;
	border: none;
	left: 0;
}

.bxslider-controls > a.template_slider_btn_next {
	right: -32px;
}

.bxslider-controls > a.template_slider_btn_next svg {
	transform: rotate(180deg);
}

.bxslider-controls > a.template_slider_btn_prev {
	left: -32px;
}

.bxslider-controls > a:hover {
	background-position: 0 0;
}





/**
 * SOCIALS ICONS
 */
.socicon {
	margin: 20px auto;
	overflow: hidden;
	padding: 0;
	list-style: none;
}

.socicon li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.socicon li a {
	background-color: none;
	color: #ffffff;
	display: block;
	margin: 0 11px 11px 0;
	overflow: hidden;
	padding: 9px;
	position: relative;
	text-decoration: none;
	text-align: center;
	z-index: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.socicon li a:before {
	font-size: 2em;
}

.socicon li:last-child a {
	margin-right: 0;
}