body{
	background-color: #fff; 
	font-family: Cantarell;
}

h1 {
	border-bottom: 3px solid #000;
	color: #000; 
	font: 400 2em Cinzel; 
	margin: 0 auto 60px; 
	padding-bottom: 30px; 
	text-align: center; 
	width: 66%;
}

h2 {
	color: #000; 
	font: 400 24px Cinzel; 
	margin: 0 auto 35px;
}

h3 {
	color: #a99269; 
	font: 400 18px Cinzel; 
	margin: 0 auto 50px;
}

p {
	color: #000; 
	font: 400 14px Cantarell;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-out;

	&:focus, :hover {
		text-decoration: none!important;
	}
}

.btn {
	border: none;
	border-radius: 0;
}


@media (min-width: $screen-sm-min) {
	h1{
		font-size: 48px;
	}
}