body{
	background-color: #fff; 
	font-family: Cantarell;
}

h1 {
	color: #ccc; 
	font: 400 2em Cinzel; 
	margin: 0 auto 60px; 
	padding: 26px 0 45px; 
	text-align: center; 
	width: 66%;
}

h2 {
	color: #000; 
	font: 400 24px Cinzel; 
	margin: 0 auto 50px;
}

h3 {
	color: #a99269; 
	font: 400 18px Cinzel; 
	margin: 0 auto 50px;
}

p {
	color: #000; 
	font: 400 14px Cantarell;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-out;

	&:focus, :hover {
		text-decoration: none!important;
	}
}


@media (min-width: $screen-sm-min) {
	h1{
		font-size: 48px;
	}
}