#mainContainer {
	position: relative;
	width: 100%;
	z-index: 0;
}

#mainContainer > * {
	position: relative;
}

.contentSection {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
}

.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}