/**
 * SOCIALS ICONS
 */

.socicon {
    margin: 20px auto;
    overflow: hidden;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        a {
            background-color: none;
            color: #ffffff;
            display: block;
            margin: 0 11px 11px 0;
            overflow: hidden;
            padding: 9px;
            position: relative;
            text-decoration: none;
            text-align: center;
            z-index: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:before {
                font-size: 2em;
            }
        }

        &:last-child a{
            margin-right: 0;
        }
    }
}
