/**
 * RESET CSS
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; } body { line-height: 1;}
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic);

<<<<<<< HEAD:assets/css/src/_callfirst/variables.scss
$brand-primary: #27ae60;

$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;
=======
$brand-primary: #27ae60;
>>>>>>> master:assets/css/src/common/variables.scss

/* Hide (function php) in the admin */
#wp-admin-bar-new-content, 
#wp-admin-bar-comments,
#wpbody-content .manage-menus{display:none;}

/* Display an error message when trying to add a child in the menu */
#menu-to-edit .menu-item-depth-1 .menu-item-handle,
#menu-to-edit .menu-item-depth-2 .menu-item-handle
#menu-to-edit .menu-item-depth-3 .menu-item-handle{background:red;}
#menu-to-edit .menu-item-depth-1 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-2 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-3 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-1 .menu-item-handle:after,
#menu-to-edit .menu-item-depth-2 .menu-item-handle:after,
#menu-to-edit .menu-item-depth-3 .menu-item-handle:after{content:"Error - No sub menu avalable for this theme"; font:600 25px "Courier New", Courier, monospace;}

/* Advanced Custom Fields */
.acf-postbox.seamless > .acf-fields > .acf-field{
	box-sizing:border-box; 
	padding-right:4%;
}

.imgCategory img{
	max-height:10px;
    width:auto;
}

/* Pages Background and Shape */
#shape_type li{
	margin-top:140px;
	min-width:200px;
}

#shape_type input{
	position:relative;
}

#shape_type input:after{
	background-color:#2e2e2e;
	background-size:contain;
	top:-100px;
	content:" "; 
	height:90px; 
	left:0; 
	position:absolute; 
	width:200px;
}

#shape_type input[value="shape-full"]:after{
	background:url(../img/shape-full.png) no-repeat left center;
}

#shape_type input[value="shape-tab_up"]:after{
	background:url(../img/shape-tab_up.png) no-repeat left center;
}

#shape_type input[value="shape-tab_down"]:after{
	background:url(../img/shape-tab_down.png) no-repeat left center;
}

#shape_type input[value="shape-tab_up_down"]:after{
	background:url(../img/shape-tab_up_down.png) no-repeat left center;
}

#background_type{
	position:relative;
}

.acf-fields > .acf-field{
	background-color:#fff;
	position:relative;
}

/*#background_type:after{
	background:url(../img/forbidden.png) no-repeat top left;
	color:#23282d;
	top:20px;
	content:" Choices of 'Shape' & 'Background' incompatible"; 
	height:133px; 
	right:-370px; 
	padding:10px 0 0 50px ;
	position:absolute; 
	width:300px;
}*/


/* acf-field-message */
.acf-fields > .acf-field-message{
	background-color:#f9f9f9;
}


/* Hide (function php) in the admin */
#wp-admin-bar-new-content, 
#wp-admin-bar-comments,
#wpbody-content .manage-menus{display:none;}

/* Display an error message when trying to add a child in the menu */
#menu-to-edit .menu-item-depth-1 .menu-item-handle,
#menu-to-edit .menu-item-depth-2 .menu-item-handle
#menu-to-edit .menu-item-depth-3 .menu-item-handle{background:red;}
#menu-to-edit .menu-item-depth-1 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-2 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-3 .menu-item-handle:before,
#menu-to-edit .menu-item-depth-1 .menu-item-handle:after,
#menu-to-edit .menu-item-depth-2 .menu-item-handle:after,
#menu-to-edit .menu-item-depth-3 .menu-item-handle:after{content:"Error - No sub menu avalable for this theme"; font:600 25px "Courier New", Courier, monospace;}



/**
 * SOCIALS ICONS
 */
@font-face {
    font-family: 'si';
    src: url('assets/fonts/socicon.eot');
    src: url('assets/fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/socicon.woff') format('woff'),
         url('assets/fonts/socicon.ttf') format('truetype'),
         url('assets/fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(fonts/socicon.svg) format(svg);
    }
}

body{
	background-color: #fff; 
	font-family: Cantarell;
	line-height: 1em;
}

h1, .h1 {
	border-bottom: 3px solid #000;
	color: #000; 
	font: 400 2em Cinzel; 
	margin: 0 auto 60px; 
	padding-bottom: 30px; 
	text-align: center; 
	width: 66%;
}

h2, .h2 {
	color: #000; 
	font: 400 24px Cinzel; 
	margin: 0 auto 35px;
}

h3, .h3 {
	color: #a99269; 
	font: 400 18px Cinzel; 
	margin: 0 auto 50px;
}

p {
	color: #000; 
	font: 400 14px Cantarell;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-out;

	&:focus, :hover {
		text-decoration: none!important;
	}
}

.btn {
	border: none;
	border-radius: 0;
}


@media (min-width: $screen-sm-min) {
	h1{
		font-size: 48px;
	}
}
.clear{clear:both;}



#mainContainer {
	position: relative;
	width: 100%;
	z-index: 0;
}

#mainContainer > * {
	padding: 50px 0;
	position: relative;
}

.content_margin {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
}

.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
/* MAIN MENU BURGER */

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    span, 
    span:before, 
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        transition: all 200ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
}

#mainMenu.active #nav-toggle span {
    background-color: transparent;
    &:before, 
    &:after {
        top: 0;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

/* MAIN MENU SIDE CLOSE */
#mainMenu {
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    max-width: 70px;
    min-height: 70px;
    padding: 20px;
    position: fixed;
    top: 0;
    text-align: left;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 100%;
    z-index: 1;
}

#menu-main-menu {
    margin: 20px 0;
    li {
        display: block;
        list-style: none;
        position: relative;
        padding: 0 12px;
    }
    a {
        color: #fff;
        display: none;
        font: 400 18px Cinzel;
        padding: 7px 12px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .active a {
        background-color: #6d9759;
        color: #fff;
    }
}

/* MAIN MENU SIDE OPEN */
#mainMenu.active {
    height: 100%;
    max-width: 300px;
    padding: 20px;
    #menu-main-menu li:before {
        background-color: #fff;
        content: " ";
        display: inline-block;
        height: 15px;
        position: absolute;
        left: 0;
        top: 18px;
        transform: translateY(-50%);
        width: 15px;
    }
    #menu-main-menu li:hover:before {
        display: none;
    }
    #menu-main-menu a {
        display: block;
    }
}

#menu-main-menu li:hover a {
    background-color: #fff;
    color: #6d9759;
}

.menu-main-menu-container {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 40px;
}
.bx-wrapper {
	clear: both;

    .bx-loading {
        background: url(../img/bx_loader.gif) center center no-repeat #fff;
    }

	.bx-viewport {
		background: none;
		box-shadow: inherit;
		border: none;
		left: 0;
	}
}

.bxslider-controls > a {
	&.template_slider_btn_next {
		right: -32px;

		svg {
			transform: rotate(180deg);
		}
	}

	&.template_slider_btn_prev {
		left: -32px;
	}

	&:hover {
		background-position: 0 0;
	}
}

/**
 * SOCIALS ICONS
 */

.socicon {
    margin: 20px auto;
    overflow: hidden;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        a {
            background-color: none;
            color: #ffffff;
            display: block;
            margin: 0 11px 11px 0;
            overflow: hidden;
            padding: 9px;
            position: relative;
            text-decoration: none;
            text-align: center;
            z-index: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:before {
                font-size: 2em;
            }
        }

        &:last-child a{
            margin-right: 0;
        }
    }
}

$slider_btn_offset: 20px;


.bgSection {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    > div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .template_slider {
        clear: both;
        height: 100%;
        width: 100%;

        > li {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            float: left;
            height: 100%;
            text-align: center;
            width: 100%;
        }
    }

    .bx-wrapper {
        .bx-viewport {
            border: none;
            box-shadow: none;
            height: auto!important;
            left: 0;
        }
    }
} 


.bxslider-controls {
    > a {
        height: 120px;
        overflow: hidden;
        position: absolute;
        text-decoration: none;
        top: calc(50% - 60px);
        width: 60px;
        z-index: 9;

        &:hover {
            margin-top: -5px;
            width: 80px;
        }
    }

}

.bxslider-controls.bg {
    .template_slider_btn_prev {
        left: $slider_btn_offset;
    }

    .template_slider_btn_next {
        right: $slider_btn_offset;
    }
}



.bgSection {
	.shape_up {
		display: none;
		height:21px; 
		left:0;
		margin:-20px auto 0;
		position:absolute;
		right:0;
		top:0;
		z-index:2;

		span {
			height: 20px;
		}
	}

	.shape_down {
		@extend .shape_up;
		bottom: -21px;
		top: initial;
		span {
			height: 20px;
		}
	}

	&.shape-tab_up{
		padding-top:20px;
		z-index: 0;
		> .shape_up {
			display: block;
		}
	}

	&.shape-tab_down{
		padding-bottom:20px;
		z-index: 0;
		> .shape_down {
			display: block;
		}
	}

	&.shape-tab_up_down{
		@extend .shape-tab_up;
		@extend .shape-tab_down;
	}

	&.shape-tab_up:before,
	&.shape-tab_up_down:before{
		content:" ";
		width:66%;
	}

	&.shape-tab_up > div,
	&.shape-tab_down > div,
	&.shape-tab_up_down > div {
		height: calc(100% + 40px);
		margin-top: -20px;
	}
}


/**
 * FLEXIBLE CONTENT COLUMNS
 */
.flexible_content_columns > .contentSection{
	padding-left:4%;
	padding-right:4%;
}

.flexible_content_column{
	display:inline-block;
	padding-bottom:1.5%;
	padding-right:1.5%;
	text-align:left;
	vertical-align:top;
	width:33%;
}

.flexible_content_mixed > .contentSection > div:last-child{
	padding-right:0;
}

.flexible_content_mixed_image {
	margin-bottom: 20px;

	> img{
		max-width:100%;
	}
}

.flexible_content_mixed_video{
	box-shadow: 15px -12px 0px #000;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	position: relative; 
	padding-bottom: 56.25%;
}

.flexible_content_mixed_video > iframe,
.flexible_content_mixed_video > object,
.flexible_content_mixed_video > embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Differents sizes
.flexible_content_1column,
.flexible_content_2column,
.flexible_content_3column,
.flexible_content_4column,
.flexible_content_5column,
.flexible_content_6column{
	text-align:center;
} */

.template-homepage{
	color:#fff;
	padding-bottom: 50px;
	text-align: center;

	> .bgSection, 
	> .content_margin {
		min-height:70%; 
	}

	h1 {
		border-bottom: none;
	}

	p {
		color:#fff;
		font-size:18px;
		margin:auto;
		max-width:940px;
		width:45%;
	}
}

.logoImg{
	display:block; 
	margin:0 auto; 
	max-height:30%; 
	max-width:940px;
	padding:8vh 0 6vh;
	width:80%;
}


/* HOMEPAGE VIDEO */
.homepage_bgVideo{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
}

.homepage_content{
	position:relative;
	z-index:1;
}

.ctaLink{
	display: inline-block; 
	font: 400 1em Cinzel; 
	margin: 7vh auto;
	padding: 1em; 
	text-decoration: none;
}


@media (min-width: $screen-sm-min) {
	.ctaLink{
		font-size: 20px;
	}
}
.template_slider {


	.btn {
		font-size: 30px;
	    margin: 20px auto;
	}

	.quote {
		@extend h1;
		border: none;
		display: inline-block;
		margin-bottom: 0;
		padding: 0 60px 30px;
		position: relative;
		width: auto;

		.img_quote_open {
			display:block;
			fill: red;
			height: 40px;
			left: 0;
			position: absolute;
			top: 0;
			width: 60px;
		}
	}
}