$slider_btn_offset: 20px;


.bgSection {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    > div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .template_slider {
        clear: both;
        height: 100%;
        width: 100%;

        > li {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            float: left;
            height: 100%;
            text-align: center;
            width: 100%;
        }
    }

    .bx-wrapper {
        .bx-viewport {
            border: none;
            box-shadow: none;
            height: auto!important;
            left: 0;
        }
    }
} 


.bxslider-controls {
    > a {
        height: 120px;
        overflow: hidden;
        position: absolute;
        text-decoration: none;
        top: calc(50% - 60px);
        width: 60px;
        z-index: 9;

        &:hover {
            margin-top: -5px;
            width: 80px;
        }
    }

}

.bxslider-controls.bg {
    .template_slider_btn_prev {
        left: $slider_btn_offset;
    }

    .template_slider_btn_next {
        right: $slider_btn_offset;
    }
}
