.bgSection {
	.shape_up {
		display: none;
		height:21px; 
		left:0;
		margin:-20px auto 0;
		position:absolute;
		right:0;
		top:0;
		z-index:2;

		span {
			height: 20px;
		}
	}

	.shape_down {
		@extend .shape_up;
		bottom: -21px;
		top: initial;
		span {
			height: 20px;
		}
	}

	&.shape-tab_up{
		padding-top:20px;
		z-index: 0;
		> .shape_up {
			display: block;
		}
	}

	&.shape-tab_down{
		padding-bottom:20px;
		z-index: 0;
		> .shape_down {
			display: block;
		}
	}

	&.shape-tab_up_down{
		@extend .shape-tab_up;
		@extend .shape-tab_down;
	}

	&.shape-tab_up:before,
	&.shape-tab_up_down:before{
		content:" ";
		width:66%;
	}

	&.shape-tab_up > div,
	&.shape-tab_down > div,
	&.shape-tab_up_down > div {
		height: calc(100% + 40px);
		margin-top: -20px;
	}
}
